torch
scipy
keras
h5py
pillow
opencv-python
scikit-image
scikit-learn
tensorflow-gpu
cython
pycocotools
ipython
python-magic
scikit-learn
commonroad-io
numba 
easydict
pyyaml
vtk
pykalman
lap
cython-bbox
