torch==1.4.0
scipy==1.2.2
keras==2.3.1
h5py==2.10.0
pillow==7.0.0
opencv-python==3.4.9.33
scikit-image==0.16.2
scikit-learn==0.22.2
tensorflow-gpu==2.9.3
cython==0.29.15
pycocotools
ipython==7.13.0
python-magic==0.4.15
scikit-learn==0.22.2
commonroad-io==2019.2
numba 
easydict
pyyaml
vtk
pykalman
lap
cython-bbox